parameters:
    level: 8
    paths:
        - src
        - tests
    
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Contracts\\Foundation\\Application::[a-zA-Z0-9_]+\(\)#'
        - '#Cannot call method [a-zA-Z0-9_]+\(\) on Illuminate\\Contracts\\Config\\Repository\|null#'
        - '#Cannot call method [a-zA-Z0-9_]+\(\) on Illuminate\\Testing\\PendingCommand\|int#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
        
    bootstrapFiles:
        - vendor/autoload.php
        
    reportUnmatchedIgnoredErrors: false